<div class="row container-fluid">
  <div class="col-md-2"></div><!-- empty -->
  <div class="col-md-8">
    <div class="page-header">
      <h1>About Me</h1>
    </div>
    <p>
      I am currently a Ph.D. student studying Computer Science at
      <a href="http://ucdavis.edu/">UC Davis</a> in
      the <a href="http://decallab.cs.ucdavis.edu/">DECAL lab</a>, headed by <a href="http://web.cs.ucdavis.edu/~devanbu/">Premkumar Devanbu</a> and
      <a href="http://web.cs.ucdavis.edu/~filkov/">Vladimir Filkov</a>.
    </p>
    <p>
      My general research interest is in the realm of Software Engineering.
      In particular, I'm interested in code quality and metrics, network analysis
      as applied to problems in Software Engineering, economic models of incentives
      and motivations, and much, much more.
    </p>
  </div>
  <div class="col-md-2"></div><!-- empty -->
</div>
</br>
<div class="row container-fluid">
  <div class="col-md-2"></div>

  <div class="col-md-8 well"><!-- wrap the panels in a well -->
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Education</h3>
        </div>
        <div class="panel-body">
          <div>
            <span class="label label-info">2015 - Present</span>
            <blockquote><p>Ph.D. in Computer Science, UC Davis</p></blockquote>
          </div>
          <div>
            <span class="label label-info">2009 - 2013</span>
            <blockquote><p>B.S. in Computer Science, UC Davis </p></blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Awards and Recognitions</h3>
        </div>
        <div class="panel-body">
          <div>
            <span class="label label-info">2013, 2015</span>
            <blockquote><p>Graduate Group in Computer Science Fellowship</p></blockquote>
            <span class="label label-info">SocInfo 2013</span>
            <blockquote><p>Best Paper Nominee</p></blockquote>
            <span class="label label-info">2009, 2011, 2012</span>
            <blockquote><p>Dean's List</p></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>
</div>
