<div class="container-fluid">
  <div class="col-md-2"></div><!-- empty -->
  <div class="row col-md-8">
    <div class="page-header">
      <h1>About Me</h1>
    </div>
      <p>
        I am currently a Ph.D. student studying Computer Science at
        <a href="http://ucdavis.edu/">UC Davis</a> in
        the DECAL lab, headed by <a href="http://web.cs.ucdavis.edu/~devanbu/">Premkumar Devanbu</a> and
        <a href="http://web.cs.ucdavis.edu/~filkov/">Vladimir Filkov</a>.
      </p>
      <p>
        My general research interest is in the realm of Software Engineering.
        In particular, I'm interested in code quality and metrics, network analysis
        as applied to problems in Software Engineering, economic models of incentives
        and motivations, and much, much more.
      </p>
  </div>
  <div class="col-md-2"></div><!-- empty -->
</div>
