<div class="row container-fluid">
  <div class="col-md-2"></div><!-- empty -->
  <div class="col-md-8">
    <div class="page-header">
      <h1>Publications</h1>
    </div>
  </div>
  <div class="col-md-2"></div><!-- empty -->
</div>
</br>
<div class="row container-fluid">
  <div class="col-md-2"></div>

  <div class="col-md-8"><!-- wrap the panels in a well -->
    <accordion close-others="false">
      <accordion-group is-open="$parent.acc1open">
        <accordion-heading ng-click="acc1open = true">
          Stochastic Actor-Oriented Modeling for Studying Homophily and Social Influence in OSS Projects
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc1open, 'glyphicon-chevron-right': !acc1open}"></i>
          <i class="glyphicon glyphicon-star"></i>
        </accordion-heading>
        <strong>Invited to present at the FSE (Foundations of Software Engineering) conferece (2016)</strong>
        <p><strong>Authors</strong></p>
        <p><u>David Kavaler</u> and Vladimir Filkov</p>
        <strong>Abstract</strong>
        <p>
          <p>
          Open Source Software projects are communities in which people "learn the ropes" from each other. 
          The social and technical activities of developers evolve together, and as they link to each other they get
          organized in a network of changing socio-technical connections.
          Traces of those activities, or behaviors, are typically visible to all, 
          in project repositories and through communication between them.
          Thus, in principle it may be possible to study those traces to tell which of the observable socio-technical behaviors of developers in these projects are responsible for the forming of persistent links between them.
          It may also be possible to tell the extent to which links participate in the spread of potential behavioral influences. 
          </p>

          <p>
          Since OSS projects change in both social and technical activity over time,
          static approaches, that either ignore time or simplify it to a few slices, 
          are frequently inadequate to study these networks.  
          On the other hand, ad-hoc dynamic approaches are
          often only loosely supported by theory and can yield misleading findings.
          Here we adapt the \emph{stochastic actor-oriented models} from social network analysis. 
          These models enable the study of the interplay between behavior, influence and network architecture, for dynamic networks, in a statistically sound way.
          </p>
          
          <p>
          We apply the stochastic actor-oriented models in case studies of two Apache Software Foundation projects, and study code ownership and developer productivity as behaviors.
          For those, we find evidence of significant social selection effects (homophily) in both projects, but in different directions.
          However, we find no evidence for the spread (social influence) of 
          either code ownership or developer productivity behaviors through the networks.
          </p>

          <p>
            Data and scripts used in this work can be found at
            <a href="http://web.cs.ucdavis.edu/~filkov/software/ASF-Siena/">http://web.cs.ucdavis.edu/~filkov/software/ASF-Siena/</a>.
          </p>
        </p>
        <strong>Publication Status</strong>
        <p>Accepted to the Journal of Empirical Software Engineering. The final publication is available at Springer via <a href="http://dx.doi.org/10.1007/s10664-016-9431-y">dx.doi.org/10.1007/s10664-016-9431-y</a></p>
        <p>
          <br>
          <span class="glyphicon glyphicon-download-alt" href="docs/selectioninfluence.pdf"></span>
          <a href="docs/selectioninfluence.pdf">Pre-print Download</a>
        </p>
      </accordion-group>

      <accordion-group is-open="$parent.acc2open">
        <accordion-heading ng-click="acc2open = true">
          Using and Asking: APIs Used in the Android Market and Asked About in Stack Overflow
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': acc2open, 'glyphicon-chevron-right': !acc2open}"></i>
          <i class="glyphicon glyphicon-star-empty"></i>
        </accordion-heading>
        <strong>Best Paper Nominee</strong>
        <p><strong>Authors</strong></p>
        <p><u>David Kavaler</u>, Daryl Posnett, Clint Gibler, Hao Chen, Prem Devanbu, and Vladimir Filkov</p>
        <strong>Abstract</strong>
        <p>
          Programming is knowledge intensive. While it is well understood that
          programmers spend lots of time looking for information, with few exceptions,
          there is a significant lack of data on what information they seek, and why. Modern
          platforms, like Android, comprise complex APIs that often perplex programmers.
          We ask: which elements are confusing, and why? Increasingly, when programmers need answers,
          they turn to StackOverflow. This provides a novel opportunity. There are a vast number
          of applications for Android devices, which can be
          readily analyzed, and many traces of interactions on StackOverflow. These provide a complementary perspective on
          using and asking, and allow the two phenomena to be studied together. How does the market demand for the USE of an
          API drive the market for knowledge about it? Here, we analyze data from Android
          applications and StackOverflow together, to find out what it is that programmers
          want to know and why.
        </p>
        <strong>Publication Status</strong>
        <p>
          Presented at 5th International Conference on Social Informatics (SocInfo). Social Informatics.
          Springer International Publishing, 2013. 405418.
        </p>
        <p>
          <br>
          <span class="glyphicon glyphicon-download-alt" href="docs/usingandasking.pdf"></span>
          <a href="docs/usingandasking.pdf">Download</a>
        </p>
      </accordion-group>
    </accordion>
  </div>

  <div class="col-md-2"></div>
</div>
